@model List<Student>

@{
    ViewData["Title"] = "Todo List";
}

<h1>Todo List</h1>

<form asp-action="AddStudent" asp-controller="Student" method="post">
    <input type="text" name="firstname" id="firstname">
    <input type="text" name="lastname" id="lastname">
    <button type="submit">Ajouter un Student</button>
</form>

<ul>
    @foreach (Student student in Model)
    {
        <li style="display: flex; flex-direction: row">
            <div>
                <input type="text" name="id" value="@student.Id"/>
                <input type="text" name="firstname" value="@student.Firstname"/>
                <input type="text" name="lastname" value="@student.Lastname"/>
            </div>
        </li>
    }
</ul>